<mat-card>
  <div mat-card-image class="img-container">
    <div class="img-container__inner">
      <img [src]="product().imageUrl" [alt]="product().name" />
    </div>
  </div>

  <mat-card-header>
    <mat-card-title>
      {{ product().name }}
      <span class="artist">{{ product().artist }}</span>
    </mat-card-title>
    <mat-card-subtitle>
      {{ product().category }} • {{ product().genre }} • {{ product().year }}
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p class="description">{{ product().description }}</p>
    <p class="price">{{ product().price | currency }}</p>
    @if (!product().inStock) {
      <p class="out-of-stock">Out of Stock</p>
    }
  </mat-card-content>

  <mat-card-actions>
    <!-- Add to cart btn -->
    @if (countInCart() === 0) {
      <button
        #cartBtn
        (click)="add()"
        color="accent"
        matTooltip="Add {{ product().name }} to cart"
        mat-icon-button
      >
        <mat-icon>shopping_cart</mat-icon>
      </button>
    } @else {
      <app-cart-count-controls
        #controls="countControls"
        (increment)="add()"
        (decrement)="remove()"
        [productName]="product().name"
        [count]="countInCart()"
        [available]="product().count"
      ></app-cart-count-controls>
    }
  </mat-card-actions>
</mat-card>
